.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.1rem;
  margin-bottom: 0.1px;
}

.notification-failure {
  color: red;
}

.notification-success {
  color: green;
}
